@font-face {
    font-family: 'sn';
    src: url('SNPro-Black.woff2') format('woff2'),
        url('SNPro-Black.woff') format('woff'),
        url('SNPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sn';
    src: url('SNPro-Bold.woff2') format('woff2'),
        url('SNPro-Bold.woff') format('woff'),
        url('SNPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sn';
    src: url('SNPro-ExtraBold.woff2') format('woff2'),
        url('SNPro-ExtraBold.woff') format('woff'),
        url('SNPro-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sn';
    src: url('SNPro-ExtraLight.woff2') format('woff2'),
        url('SNPro-ExtraLight.woff') format('woff'),
        url('SNPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sn';
    src: url('SNPro-Light.woff2') format('woff2'),
        url('SNPro-Light.woff') format('woff'),
        url('SNPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sn';
    src: url('SNPro-Medium.woff2') format('woff2'),
        url('SNPro-Medium.woff') format('woff'),
        url('SNPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sn';
    src: url('SNPro-Regular.woff2') format('woff2'),
        url('SNPro-Regular.woff') format('woff'),
        url('SNPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sn';
    src: url('SNPro-SemiBold.woff2') format('woff2'),
        url('SNPro-SemiBold.woff') format('woff'),
        url('SNPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

