    @import "tailwindcss";

    @theme {
        --font-sn: 'sn', sans-serif;
        --font-gelica: 'gelica', sans-serif;
    }

    /* custome font sn pro  */
    @font-face {
        font-family: 'sn';
        src: url('./assets/font/sn/SNPro-Black.woff2') format('woff2'),
            url('./assets/font/sn/SNPro-Black.woff') format('woff'),
            url('./assets/font/sn/SNPro-Black.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'sn';
        src: url('./assets/font/sn/SNPro-Bold.woff2') format('woff2'),
            url('./assets/font/sn/SNPro-Bold.woff') format('woff'),
            url('./assets/font/sn/SNPro-Bold.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'sn';
        src: url('./assets/font/sn/SNPro-ExtraBold.woff2') format('woff2'),
            url('./assets/font/sn/SNPro-ExtraBold.woff') format('woff'),
            url('./assets/font/sn/SNPro-ExtraBold.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'sn';
        src: url('./assets/font/sn/SNPro-ExtraLight.woff2') format('woff2'),
            url('./assets/font/sn/SNPro-ExtraLight.woff') format('woff'),
            url('./assets/font/sn/SNPro-ExtraLight.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'sn';
        src: url('./assets/font/sn/SNPro-Light.woff2') format('woff2'),
            url('./assets/font/sn/SNPro-Light.woff') format('woff'),
            url('./assets/font/sn/SNPro-Light.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'sn';
        src: url('./assets/font/sn/SNPro-Medium.woff2') format('woff2'),
            url('./assets/font/sn/SNPro-Medium.woff') format('woff'),
            url('./assets/font/sn/SNPro-Medium.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }



    @font-face {
        font-family: 'sn';
        src: url('./assets/font/sn/SNPro-SemiBold.woff2') format('woff2'),
            url('./assets/font/sn/SNPro-SemiBold.woff') format('woff'),
            url('./assets/font/sn/SNPro-SemiBold.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'sn';
        src: url('./assets/font/sn/SNPro-Regular.woff2') format('woff2'),
            url('./assets/font/sn/SNPro-Regular.woff') format('woff'),
            url('./assets/font/sn/SNPro-Regular.ttf') format('truetype');
        font-style: normal;
        font-display: swap;
    }

    /* gelica font  */

    @font-face {
        font-family: 'gelica';
        src: url('./assets/font/gelica/FONTSPRINGDEMO-GelicaBkBlack.woff2') format('woff2'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaBkBlack.woff') format('woff'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaBkBlack.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gelica';
        src: url('./assets/font/gelica/FONTSPRINGDEMO-GelicaXLtExtraLight.woff2') format('woff2'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaXLtExtraLight.woff') format('woff'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaXLtExtraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gelica';
        src: url('./assets/font/gelica/FONTSPRINGDEMO-GelicaRgBold.woff2') format('woff2'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaRgBold.woff') format('woff'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaRgBold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gelica';
        src: url('./assets/font/gelica/FONTSPRINGDEMO-GelicaLtLight.woff2') format('woff2'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaLtLight.woff') format('woff'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaLtLight.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gelica';
        src: url('./assets/font/gelica/FONTSPRINGDEMO-GelicaMdMedium.woff2') format('woff2'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaMdMedium.woff') format('woff'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaMdMedium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gelica';
        src: url('./assets/font/gelica/FONTSPRINGDEMO-GelicaRgRegular.woff2') format('woff2'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaRgRegular.woff') format('woff'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaRgRegular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'gelica';
        src: url('./assets/font/gelica/FONTSPRINGDEMO-GelicaSBdSemiBold.woff2') format('woff2'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaSBdSemiBold.woff') format('woff'),
            url('./assets/font/gelica/FONTSPRINGDEMO-GelicaSBdSemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }



    

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }